:root {
    --cinza-fundo: #1a1a1a;
    --cinza-tabuleiro: #2a2a2a;
    --cinza-borda: #444;
    --cobra-cabeca: #4caf50;
    --cobra-corpo: #388e3c;
    --roxo-comida: #9b30ff;
    --cor-texto: #e0e0e0;
}

*{
    margin: 0;
    padding: 0;
}

.logo-png{
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1000;
}

.logo-png img{
    width: 80px;
    height: 80px;
}

.water-mark {
    display: flex;
    position: fixed;
    bottom: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
    gap: .5rem;
}

.water-mark strong{
    color: #a259ff;
}

.water-mark img{
    width: 20px;
    height: 20px;
    opacity: 0.5;
    margin-bottom: -0.2rem;
}

body {
    margin: 0;
    background: var(--cinza-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    user-select: none;
}
  
canvas {
    background: var(--cinza-tabuleiro);
    border: 2px solid var(--cinza-borda);
}
  
#score {
    position: absolute;
    top: 20px;
    font-size: 24px;
}
  